* {
    margin: 0;
}

.container {
    background-color: #0F1320;
    font-family: 'nu-century-gothic', sans-serif;
}

/* modulo1 */

.home1 {
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 1400px;
}

.barra {
    height: 90px;
    display: flex;
    align-items: end;
}

.logo {
    margin-left: 40px;
}

.menu {
    font-size: 16px;
    display: flex;
    gap: 30px;
    margin-left: 80px;
}

.botones_sing {
    color: white;
    display: flex;
    align-items: end;
    gap: 20px;
    margin-left: 340px;
}

.in {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 60px;
}

.up {
    background: none;
    border: 3px solid #22A75D;
    color: white;
    font-size: 16px;
    width: 147px;
    height: 48px;
    border-radius: 52px;
}

.modulo1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cuadro1_mod1 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.texto_mod1 {
    width: 562px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
}

.learn_more {
    background-color: #22A75D;
    border: 5px solid #22A75D;
    color: white;
    font-size: 16px;
    width: 200px;
    height: 60px;
    border-radius: 52px;
    margin-top: 20px;
}

.cuadro2_mod1 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cu1_mod1 {
    background-color: #171b29;
    width: 480px;
    height: 250px;
    border-radius: 30px;
    font-size: 14px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
}

.cu2_mod1 {
    background-color: #171b29;
    width: 480px;
    height: 250px;
    border-radius: 30px;
    font-size: 14px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 100px;
    /* align-items: center; */
}

/* modulo2 */

.modulo2 {
    height: 600px;
    display: flex;
}

.colores {
    width: 680px;
    height: 600px;
    background-image: url(img/img_mod2.png);
    background-size: cover;
    border-radius: 0px 270px 0px 0px;
}

.blanco_mod2 {
    width: 680px;
    height: 600px;
    background-color: white;
    border-radius: 270px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt_mod2 {
    width: 440px;
    font-size: 14px;
    margin-top: 120px;
    text-align: justify;
}

.txt_mod2 p {
    color: #a39f9f;
    margin-top: 20px;
}

/* modulo3 */

.modulo3 {
    box-sizing: border-box;
    background-color: white;
    height: 1100px;
    display: flex;
    margin: 0;
}

.cont_mod3 {
    box-sizing: border-box;
    background-color: #0F1320;
    width: 1500px;
    /* height: 1500px; */
    border-radius: 0px 270px 0px 0px;
}

.cuadro1_mod3 {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.cuadro2_mod3 {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.q1 {
    width: 325px;
    list-style: none;
    color: #B7B8BC;
    font-size: 14px;
}

.q1 li {
    margin-bottom: 15px;
}

.q1 ul {
    padding-left: 20px;
}

.txt_cu2_mod3 {
    width: 544px;
    height: 840px;
}

.txt_cu2_mod3 p {
    font-size: 16px;
    margin-bottom: 15px;
}

.imagen_mod3 {
    border-radius: 20px;
    box-shadow: 0px 5px 10px #171b29;
}

/* modulo4 */

.modulo4 {
    box-sizing: border-box;
    margin: 0;
    background-color: #0F1320;
    height: 1000px;
    display: flex;
}

.cont_mod4 {
    box-sizing: border-box;
    width: 1400px;
    height: 1000px;
    background-image: url(img/fondo_mod4.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadros_mod4{
    display: flex;
    gap: 20px;
}

.titulo_mod4{
    margin-top: 200px;
}

.cu1_mod4, .cu2_mod4, .cu3_mod4{
    box-sizing: border-box;
    background-color: white;
    width: 330px;
    height: 400px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uno p{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    background-color: #22A75D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 50px 10px;
}

.dos p{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    background-color: #2278D4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 50px 10px;
}

.tres p{
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    background-color: #FFD100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 50px 10px;
}

.cu2_mod4{
    margin-top: 50px;
}

/* modulo5 */

.modulo5{
    height: 700px;
    background-image: url(img/fondo_mod5.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadros_mod5{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.cu1_mod5, .cu2_mod5, .cu3_mod5{
    box-sizing: border-box;
    background-color: #171B29;
    color: white;
    width: 350px;
    height: 200px;
    border-radius: 25px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cu2_mod5{
    margin-top: 50px;
}

.links{
    display: flex;
    justify-content: center;
    margin-top: 170px;
}

.links a{
    font-size: 14px;
    color: white;
}

.slash{
    font-size: 10px;
    color: #a39f9f;
    margin-left: 50px;
    margin-right: 50px;
}

.redes{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.iconos{
    display: flex;
    gap: 10px;
}

.derechos{
    font-size: 12px;
    color: #a39f9f;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.vector{
    display: flex;
    gap: 5px;
}